@import 'slick-carousel/slick/slick';
@import 'slick-carousel/slick/slick-theme';

.wp-block-un-block-slider{
	.slick-slide .item{
		position:relative;
		a.slick-slide-content{
			color:#fff;
			background-color: rgba(0,0,0,.4);
			text-decoration: none;
			position:absolute;
			max-width:80%;
			padding:1em 2em;
			&:focus{
				text-decoration: none;
				background-color: rgba(0,0,0,.4);
			}
			&.vertical-top {
				top: 10%;
				&.horizontal-left {
					left: 10%;
					transform: translate(-10%, -10%);
				}
				&.horizontal-center {
					left: 50%;
					transform: translate(-50%, -10%);
				}
				&.horizontal-right {
					right: 10%;
					transform: translate(10%, -10%);
				}
			}
			&.vertical-middle{
				top:50%;
				&.horizontal-left {
					left: 10%;
					transform: translate(-10%, -50%);
				}
				&.horizontal-center {
					left: 50%;
					transform: translate(-50%, -50%);
				}
				&.horizontal-right {
					right: 10%;
					transform: translate(10%, -50%);
				}
			}
			&.vertical-bottom{
				bottom:10%;
				&.horizontal-left {
					left: 10%;
					transform: translate(-10%, 10%);
				}

				&.horizontal-center {
					left: 50%;
					transform: translate(-50%, 10%);
				}

				&.horizontal-right {
					right: 10%;
					transform: translate(10%, 10%);
				}
			}
			&.align-left {
				text-align: left;
			}
			&.align-right {
				text-align: right;
			}

			&.align-center {
				text-align: center;
			}
			button{
				margin:1em 0;
				padding:.5em 1em;
				&:focus{
					outline:0;
				}
			}
		}
	}
}
.slick-prev{left:25px;z-index:2;}
.slick-next{right:25px;z-index:2;}

button.slick-arrow:before{
	border-radius: 50%;
	box-shadow: 0 0 7px #000000,
	inset 0 0px 7px #000000;
	background: rgba(0, 0, 0, 0.9);
}
